<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<title>Page Title</title>
</head>
<body>

<h1>Alumno agregado!</h1>
<p>This is a paragraph.</p>
  <!-- <p th:text="${mensaje}"></p> -->
 <!--  <p th:text="'id: ' + ${user.id}" /> -->
 
 <!--  <a href="/">Volver a homepage</a> -->
 
 <table class="table table-striped">
  <tr>
  	<th>Nombre</th>
  	
  </tr> 
  <tr th:each="fab: ${listafabri}">
  	
     <td th:text="${fab.nombre}"></td> 
    
   <!--    <td> <a th:href="@{/deletecomments(id=${com.id})}"> delete </a> </td> -->
     
    
  </tr>
</table>
<a th:href="@{/}"> volver </a> 
 

</body>
</html>