<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
 <p th:text="${mensaje}"></p> 
 <!--  <p th:text="'id: ' + ${user.id}" /> -->
 
 <form action="#" th:action="@{/createfabricante}" th:object="${fab}" method="post">
    <p>Nombre fabricante: <input type="text" th:field="*{nombre}" /></p>
 <!--    <p>Apellido: <input type="text" th:field="*{apellido}" /></p>
    <p>Edad: <input type="text" th:field="*{edad}" /></p> -->
     <p>Nombre municipio: <input type="text" name="nombremuni" /> </p>
     <p>Nombre Intendente: <input type="text" name="nombreinte" /> </p>
    <p><input type="submit" class="btn btn-success" value="Post" /> <input type="reset" value="Reset" /></p>
</form>
 
 <!--  <a href="/addlist">Ir a Add List</a>-->

</body>
</html>